.header{
  height: 170px;
  background-color: #0008FF;
  margin-left: 15px;
  margin-right: 15px;
}
.container-fluid{
  background-color: #F3FF00;
  padding: 10px;
  padding-top: 50px;
}
.nav{
  height: 70px;
  background-color: #1F8A00;
}
.content{
  height: 270px;
  background-color: #FF0000;
}
.aside{
  height: 270px;
  background-color: #00F7FF;
}
.promo{
  height: 170px;
  background-color: #FF9E00;
}
.green{
  background-color: green;
  height: 200px;
}
.red{
  background-color: red;
  height: 200px;
}
/*MEDIA QUERIES*/
@media only screen and (min-width: 768px) {
  .red{
    background-color: blue;
  }
}
@media only screen and (min-width: 375px) {
  .green{
    background-color: purple;
  }
}
